<div class="page-container">
  <app-background-image [url]="backgroundImageUrl"></app-background-image>
  <app-auth-card>
    <div class="guest-user-container">
      <p>Guest email: guestUser@test.com</p>
      <p>Guest password: testuser123</p>
    </div>
    <app-page-header [headerText]="'Meditation Login'"></app-page-header>

    <app-login-form></app-login-form>
    <app-navigate-to-page-button
      [route]="'signup'"
      [navigatePageText]="'signup page'"
    ></app-navigate-to-page-button>
  </app-auth-card>
</div>
