.auth-card-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 60vh;
    background: linear-gradient(to bottom, #373B44,#4286f4 );
    opacity: .8;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.81);
    transition: all .3s;

    &:hover {
        transform: scale(1.02);
        box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.858);
    }
}