.page-container {
  width: auto;
  min-height: 100vh;
  height: auto;
  position: relative;
}
.page-elements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: auto;
  min-height: 80vh;
}

.createMoodContainer {

  height: auto;
  width: 85vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

@media(max-width:536px){
  .createMoodContainer {
    display: flex;
    flex-direction: column;
    //flex-wrap: wrap;
    align-items: center;
    width: 50vw;
    justify-content: space-evenly;
    text-align: center;
}}
.emotion-phrase {
  font-size: x-large;
  font-weight: 600;
  text-align: center;
  width: 80%;
  margin-top: 40px;
}
.emotion-text {
  font-size: x-large;
  font-weight: 800;
  color: blue;
  text-transform: uppercase;
}


.face-item {
  transition: all 0.3s;
  &:hover {
    //opacity: 0.4;
    transform: scale(1.14);
  }
}

.journal-text-area{
    height: 30vh;
    width: 70vw;
    font-size: large;
    opacity: .8;
    box-shadow: 2px 2px 2px black;

}
