@import "../../../styles/global/colors";
.meditation-results-page {
    width:100vw;
    height: 100vh;
    background: linear-gradient(to bottom, $color-primary-blue,$color-primary-blue, $color-primary-purple-blue, $color-primary-purple);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:[navbar-start] .1fr [navbar-end header-start] .1fr [header-end streak-card-start] .1fr
    [streak-card-end] 1fr;
    row-gap: 10px;
}

.meditation-streak-card {
    background-color:white ;
    width: 70vw;
    justify-self: center;
    grid-row:streak-card-start/streak-card-end  ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__title{
        color:$color-primary-purple
    }

    &__subtitle{
        font-size: 20px;
        color:$color-neutral-shadow-black;
    }
}


.test {
    width: 70vw;
    min-width: 300px;
    align-self: center;
    justify-self: center;
}