<app-main-nav-bar [isMeditationContainer]='true'></app-main-nav-bar>
<div class="all-meditations-page-container">
  <app-page-header [headerText]="'Meditation Courses'"></app-page-header>
  <div class="meditation-course-cards-container">
    <app-meditation-course-card *ngFor="let meditation_course of meditation_course_data"
    [courseData] = 'meditation_course'
    [courseTitleText]='meditation_course.course_title'
      [imageUrl]="meditation_course.photo_url"
    ></app-meditation-course-card>
  </div>

</div>
