<div class="all-meditations-page-container">
  <app-page-header [headerText]="'Meditation Courses'"></app-page-header>
  <div class="meditation-course-cards-container">
    <app-meditation-course-card
    [courseTitleText]='"meditation 2"'
      [imageUrl]="
        'https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500'
      "
    ></app-meditation-course-card>
    <app-meditation-course-card
    [courseTitleText]='"meditation 1"'
      [imageUrl]="
        'https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500'
      "
    ></app-meditation-course-card>
  </div>
</div>
