<form  *ngIf='!loginUser.isLoading' class="auth-form" [formGroup]="loginForm">
  <input
    class="auth-form-input"
    placeholder="email"
    type="text"
    formControlName="email"
  />
  <input
    class="auth-form-input"
    placeholder="password"
    type="password"
    formControlName="password"
  />
  <app-form-button [handleSubmit]="handleLoginSubmit"></app-form-button>
  <p *ngIf="loginForm.invalid && loginForm.touched" class="error-msg">
    Username or password is invalid
  </p>
  <p class="error-msg" *ngIf='loginUser.isError'>
    Username and password are not registered
  </p>
</form>

<div class='is-loading' *ngIf='loginUser.isLoading'>
  <p>...loading</p> 
 </div>
