<form class='auth-form'>
    <app-auth-form-input [type]="'text'" [placeHolder]='"First Name"' ></app-auth-form-input>
    <app-auth-form-input [type]="'text'" [placeHolder]='"Last Name"' ></app-auth-form-input>
    <app-auth-form-input [type]="'email'" [placeHolder]='"Email"' ></app-auth-form-input>
    <app-auth-form-input [type]="'password'" [placeHolder]='"Password"' ></app-auth-form-input>
    <app-auth-form-input [type]="'password'" [placeHolder]='"Repeat Password"' ></app-auth-form-input>
</form>
