<app-main-nav-bar [isMeditationContainer]='true'></app-main-nav-bar>
<div class="page-container">
  <app-page-header [headerText]="'meditation'"></app-page-header>
  <img class="meditation-course-img" [src]="courseData.photo_url" />
  <div class="medition-items-container">
    <app-individual-meditation-clickable-row
      *ngFor="let individualMeditation of individualMeditations"
      [meditationNumber]="individualMeditation.order"
      [meditationTitleText]="individualMeditation.title"
      [meditationCourseTitle]="courseTitle"
    ></app-individual-meditation-clickable-row>
  </div>
</div>
