.page-container{
    width: auto;
    max-width: 100vw;
    min-height: 100vh;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: .1fr 1fr;
}


.show-text {
    font-size: small;
    color: white;
    position: absolute;
}
.page-elements {
    display: grid;

    position: relative;
    width: 100%;
    height: 80vh;


    grid-template-columns: 1fr ;
    row-gap: 50px;
    grid-template-rows: 1fr 1fr;

}
.suggested-meditation {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__title {
        font-size: xx-large;
        margin-bottom: 15px;
        margin-top: 30px;
        font-weight: 800;
        line-height: 40px;
        color:white;
        width: 90vw;
        text-align: center;
    }
   
}



.navigate-button-container {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}