.page-container{
    width: auto;
    min-height: 100vh;
    height: auto;
    position: relative;
}


.show-text {
    font-size: small;
    color: white;
    position: absolute;
}
.page-elements {
    display: flex;
    position: relative;
    width: 100%;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}
.suggest-meditation-title {
    font-size: xx-large;
    margin-bottom: 30px;
    font-weight: 800;
    color:white;
}

