<div class="page-container">
  <app-main-nav-bar></app-main-nav-bar>
  <app-background-image [url]="backgroundImageUrl"></app-background-image>

  <div class='page-elements'>
    <div class='suggested-meditation-container'>
      <p class='suggest-meditation-title'>Suggested Meditation</p>
      <app-suggested-meditation></app-suggested-meditation>
    </div>
  
    <div>
      <app-navigate-to-page-button [navigatePageText]="'How Are You Feeling?'" [route]='"create-journal-entry"'></app-navigate-to-page-button>
    </div>
  </div>
 
</div>
