.random-meditation {
    height: 45vw;
    min-height: 250px;
    max-height: 400px;
    width: 45vw;
    min-width: 250px;
    max-width: 400px;
    position: relative ;
    border-radius: 40vw;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.338);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    box-shadow: 5px 5px 5px black;
    transition: all 1s;


    &-photo {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
       
        background-size: cover;
        z-index:-1;
        transition: all 1s;
        filter: blur(.5px);


        &:hover {
            transform: scale(1.2);
        }
    }

    &-title {
        color: white;
        font-weight: 800;
        font-size: xx-large;
        //background-color: white;
        opacity: .8;
        text-transform: uppercase;
        box-shadow: 10px 10px 10px black;

    }

    &:hover{
        transform: scale(1.02);
        box-shadow: 7px 7px 7px black;

    }

    &:active {
        transform: scale(.98);
        box-shadow: 4px 4px 4px black;
    }

 
}