<app-main-nav-bar [isMeditationContainer]='true'></app-main-nav-bar>
<div class='page-container' >
        <app-page-header [headerText]="meditationTitle"></app-page-header>

    <app-background-image [url]="meditationPhotoUrl"></app-background-image>

    <div class='big-circle-breath'>
        <h1 class='breath-text'>
            Breathe
        </h1>
    </div>
    <audio controls   class='audioPlayer' #audioElement>
        <source type="audio/mpeg" [src]="meditationAudioUrl"> 
    </audio>
</div>