
.link {
    text-decoration: none;

    &__text {
        font-size: larger;
        font-weight: 600;
        color:darken(#2a9d8f, 10%);
        transition: all .3s;
        text-transform: uppercase;
    
        &:hover{
            transform: scale(1.1);
            color: grey
        }
    }
    
}