<app-main-nav-bar></app-main-nav-bar>
<div class='page-container'>
    <app-background-image [url]='"https://images.pexels.com/photos/751096/pexels-photo-751096.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"'></app-background-image>

    <div class='journal-card' *ngFor="let journal of allJournals">
        <div class='journal-card__header'>
            <p class='journal-card__date'>{{journal.date}}</p>
            <p class='journal-card__emotion'>{{emotionNumberToTextValue(journal.mood)}}</p>
        </div>
        <p class='journal-card__text'>{{journal.text}}</p>
      
    </div>
</div>
