<app-main-nav-bar></app-main-nav-bar>
<div class="page-container" #pageContainer>
  <app-background-image [url]="backgroundImageUrl"></app-background-image>

  <div class='element-container'>
    <div class='graphTitle'>
      <h1 class='graphTitle__text'>{{graphTitle}}</h1>
      <ngx-line-graph
        class="line-graph"
        [width]="graphWidth"
        [height]="400"
        [minX]="0"
        [maxX]="graphData.length -1"
        [minY]="0"
        [maxY]="4"
        [gridPrecisionX]="100"
        [gridPrecisionY]="1"
        xAxisTitle=""
        yAxisTitle="Happiness"
        [data]="graphData"
        color="#ff4446"
      >
<!--       monthData? monthData.length - 1: 0
 -->      </ngx-line-graph>
    </div>
    
      <div class='graph-type-button-container'>
        <button class='setGraphTypeButton' (click)="setGraphType('month')">
            Month Data
        </button>
        <button class='setGraphTypeButton'  (click)="setGraphType('week')">
            Week Data
        </button>
      </div>
     
      <app-navigate-to-page-button [navigatePageText]="'Create Journal'" [route]="'create-journal-entry'"></app-navigate-to-page-button>
      <app-navigate-to-page-button [navigatePageText]="'Past journals'" [route]="'past-journals'"></app-navigate-to-page-button>

      
  </div>
  
</div>
