.page-container{
    width: auto;
    min-height: 100vh;
    height: auto;
    position: relative;

}

.element-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.line-graph {
    font-size: x-large;
    margin:10px;
}

.graph-type-button-container {
    display: flex;
    flex-direction: row;
    width: 40vw;
    align-items: center;
    justify-content: space-evenly;
}

.setGraphTypeButton {
    width: 100px;
    height: 50px;
    border-radius: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.858);
    font-size: large;


    &:hover {
        transform: scale(1.02);
        box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.858);
    }
    &:active {
        transform: scale(1.01);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.858);


    }
}

.graphTitle {
    justify-self: center;
    position: relative;
    top:25px;
}