<nav
  [ngClass]="{'nav-container--meditation':isMeditationContainer, 'nav-container':!isMeditationContainer}"
  #navContainerElement
>

  <div class="nav-list">
    <div class='nav-list' *ngIf='isHeaderOpen || !isMobileHeader' >
    
      <app-nav-link [routeUrl]="'/'" [linkName]="'Home'"></app-nav-link>
      <app-nav-link
        [routeUrl]="'/all-meditations'"
        [linkName]="'Meditations'"
      ></app-nav-link>
      <app-nav-link
        [routeUrl]="'/mental-health'"
        [linkName]="'mental-health'"
      ></app-nav-link>
      <app-nav-link class='nav-container__logout' (click)='handleLogout()' [linkName]="'Logout'"></app-nav-link>
    </div>
    <app-mobile-header-button *ngIf='isMobileHeader' [openCloseHeader]="openCloseHeader"></app-mobile-header-button>
  </div>

</nav>
